*.class
target
.classpath
.springBeans
.project
.settings
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
.idea/
lib/
simpleJava.iml
src/main/java/com/hand/ln/Apple.java
src/main/java/com/hand/ln/AppleTree.java
src/main/java/com/hand/ln/ApplicationContextTest.java
src/main/java/com/hand/ln/concurrency/
src/main/java/com/hand/ln/ioc/
src/main/java/com/hand/ln/jdbc/TranstionJdbcConnection.java
src/main/java/com/hand/ln/jdbc/datasource/
src/main/java/com/hand/ln/jdbc/template/ConfigurableJdbcTemplate.java
src/main/java/com/hand/ln/jdbc/template/RuntimeSQLException.java
src/main/java/com/hand/ln/log/
src/main/resources/appcontext.xml
