<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd 
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<description>Spring公共配置</description>
	<bean id="propertyConfigurer"  
	    class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
	    <property name="location">  
	        <value>classpath:resources/dbconfig.properties</value>  
	    </property>  
	    <property name="fileEncoding" value="utf-8" />  
	</bean>
	
	<aop:aspectj-autoproxy />
	
	<context:component-scan base-package="zoukunhong.Exam_12758_20161229_1.event" />
	<context:component-scan base-package="zoukunhong.Exam_12758_20161229_1.dao" />
	<context:component-scan base-package="zoukunhong.Exam_12758_20161229_1.service" />
	<context:component-scan base-package="zoukunhong.Exam_12758_20161229_1.controller" />
	
	<bean id="languageService" class="zoukunhong.Exam_12758_20161229_1.service.LanguageService">
		<property name="languageDao" ref="languageDao"></property>
	</bean>
	<bean id="eventListener" class="zoukunhong.Exam_12758_20161229_1.event.EventListener"></bean>

 	<bean id="filmSaveAop" class="zoukunhong.Exam_12758_20161229_1.aop.FilmSaveAop">
 		<property name="publisher" ref="eventPublisher"></property>
 	</bean>

	<aop:config>
		<aop:aspect id="myaop" ref="filmSaveAop">
			<aop:pointcut id="mycut" expression="execution(* zoukunhong.Exam_12758_20161229_1.service.FilmService.save(..))" />
			<aop:around pointcut-ref="mycut" method="doBasicProfiling" />
		</aop:aspect>
	</aop:config>


	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:resources/config.xml" />
		<property name="mapperLocations" value="classpath*:resources/mybatis/*Mapper.xml" />
	</bean>

	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/sakila?characterEncoding=utf8&amp;useSSL=true" />
		<property name="username" value="${username}"/>
		<property name="password" value="${password}"/>
		<property name="maxActive" value="100" />
		<property name="maxIdle" value="20" />
		<property name="minIdle" value="0" />
		<property name="defaultAutoCommit" value="false" />
	</bean>

</beans>