@CHARSET "UTF-8";
.container{
	width: 1024px;
	margin: 0px auto;
	margin-top:100px;
	padding: 20px 12px;
	color: #877B93;
	font-size: 14px;
	background-color: #F4FAFA;
	border-radius: 6px;
}
.form-horizontal{
	text-align: center;
	margin-bottom: 20px;
}
.form-horizontal .form-group{
	width:200px;
	display: inline-block;
	line-height: 26px;
}
.form-horizontal .form-group > div{
	display: inline-block;
}
.form-horizontal .form-group .control-label{
	font-size: 15px;
}
.form-horizontal .form-group .form-control{
	height:20px;
	width:100px;
	border-radius: 3px;
	border: 1px solid #C5EBF5;
}
.form-horizontal .form-group .btn-info{
	height:24px;
	max-width:160px;
	min-width:60px;
	border: 1px solid #C5EBF5;
	border-radius: 3px;
	padding: 0 0px;
	background-color: #ECF7F6;
}
.table-striped thead{
	background-color: #B0DBE5;
}
.table-striped tr{
	font-size:12px;
	height: 16px;
}
.table-striped tr td{
	line-height: 16px;
	text-align: center;
}
.pagination{
	margin-top:20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.pagination li{
	display: inline-block;
	height: 20px;
	min-width:30px;
	line-height: 20px;
	margin-left:5px;
	padding:5 10px;
	border-radius: 2px;
	list-style: none;
	text-align: center;
	background-color: #F4FAFA;
	border: 1px solid #82B1CA;
}
.pagination li a{
	display: list-item;
}
.pagination li:hover{
	background-color: #82B1CA;
}
.pagination .select{
	background-color: #82B1CA;
}
